@use "variables" as *;

// Extra Stripping Styles:
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// Base Styles:
body {
    overflow-x: hidden;
    background-color: $primaryColour;
    .greenBack {
        background-color: $secondaryColour;
    }
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.flexGrid {
    display: flex;
    flex-wrap: wrap;
}

.flexGridSpaceBw {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

// Styles for Text:
h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 30px;
}

// Styles for Buttons:
a {
    &.buttonFind {
        display: inline-block;
        width: 220px;
        color: $primaryColour;
        background-color: $tertiaryColour;
        margin-top: 35px;
        padding: 8px 30px;
        cursor: pointer;
        transition: 0.25s;
        &:hover {
            transform: scale(1.15);
        }
        &:focus {
            transform: scale(1.15);
        }
    }
    &.buttonRead {
        display: inline-block;
        color: $fontColour;
        background-color: $primaryColour;
        margin-top: 30px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.25s;
        &:hover {
            transform: scale(1.15);
        }
        &:focus {
            transform: scale(1.15);
        }
    }
}

// Styles for Form:

input, textarea {
    width: calc(49.5% - 30px);
    padding: 15px;
    margin: 15px;
    border: none;
    border-bottom: solid 2px $tertiaryColour;
    background-color: transparent;
    &::placeholder {
        opacity: 1;
    }
}

textarea {
    border: solid 2px $tertiaryColour;
    width: calc(100% - 30px);
}

button {
    width: calc(100% - 30px);
    padding: 12px 0;
    margin: 25px 15px 10%;
    border: none;
}