@use "variables" as *;

// Mixin for flexBox
@mixin flex ($direction, $wrap: nowrap, $mainAxis: normal, $crossAxis: normal) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $mainAxis;
    align-items: $crossAxis;
}

// Mixin for header image (for Blog and Contact Page)
@mixin headerImage($backgroundImage) {
    .headerImage {
        width: 100%;
        height: 100%;
        background-image: url($backgroundImage);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// Mixin for top nav
@mixin nav {
    nav {
        position: relative;
        .navIcon {
            display: none;
            width: auto;
            position: absolute;
            top: 10px;
            right: 10px;
            color: $fontColour;
            background-color: transparent;
            &:hover {
                color: $tertiaryColour;
            }
            &:focus {
                color: $tertiaryColour;
            }
        }
        .navBar {
            @include flex (row, nowrap, flex-end);
            padding-top: 35px;
        }
        a {
            color: $fontColour;
            cursor: pointer;
            padding-left: 40px;
            padding-right: 20px;
            &:hover {
                color: $tertiaryColour;
            }
            &:focus {
                color: $tertiaryColour;
            }
        }
    }
}



