@use "variables" as *;

// Styles for header image (for Blog and Contact Page)
@mixin headerImage($backgroundImage) {
    .headerImage {
        width: 100%;
        height: 100%;
        background-image: url($backgroundImage);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// Styles for top nav
@mixin nav() {
    nav {
        ul {
            display: flex;
            justify-content: flex-end;
            padding-top: 35px;
        }
        a {
            color: $fontColour;
            cursor: pointer;
            padding-left: 40px;
            padding-right: 20px;
            &:hover {
                color: $tertiaryColour;
            }
            &:focus {
                color: $tertiaryColour;
            }
        }
    } 
}

// Styles for FlexBox
@mixin flex ($direction, $wrap: nowrap, $mainAxis: normal, $crossAxis: normal) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $mainAxis;
    align-items: $crossAxis;
}

// Media Queries:

// @mixin forDesktop {
//     /* all of our styles for DESKTOP devices will go within this breakpoint */
//     @media (max-width: 1440px) {
//         @content;
//     }
// }

// @mixin forLaptop {
//     /* all of our styles for LAPTOP devices will go within this breakpoint */
//     @media (max-width: 1200px) {
//         @content;
//     }
// }

// @mixin forTabletLandscape {
//     /* all of our styles for TABLET devices in landscape mode will go within this breakpoint */
//     @media (max-width: 1100px) {
//         @content;
//     }
// }

// @mixin forTablet {
//     /* all of our styles for TABLET devices in portrait mode will go within this breakpoint */
//     @media (max-width: 768px) {
//         @content;
//     }
// }

// @mixin forLargeMobile {
//     /* all of our styles for large MOBILE devices will go within this breakpoint */
//     @media (max-width: 480px) {
//         @content;
//     }
// }

// @mixin forMobile {
//     /* all of our styles for small MOBILE devices will go within this breakpoint */
//     @media (max-width: 360px) {
//         @content;
//     }
// }





