@use "variables" as *;

@font-face {
    font-family: "Barlow";
    src: url('../fonts/Barlow/Barlow-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
}

html {
    /* 20px font size */
    font-size: 125%;
    color: $fontColour;
}

body {
    font-family: $headingFont;
    h1 {
        font-size: clamp(5rem, 12vw, 6.9rem);
        line-height: clamp(4.8rem, 12vw, 6.3rem);
    }
    h2 {
        font-size: 4rem;
        line-height: 4.6rem;
    }
    h3 {
        font-size: 2.1rem;
        text-align: center;
    }
    h4 {
        font-size: 1.6rem;
        line-height: 0.9rem;
    }
    p {
        font-family: $bodyFont;
        font-size: 1rem;
        line-height: 1.6rem;
    }
    nav a {
        font-size: 1rem;
        text-align: center;
        line-height: 1.45rem;
    }
    .buttonFind, .buttonRead {
        font-size: 1rem;
        text-align: center;
        line-height: 1.6rem;
    }
}

