html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
html {
  /* 20px font size */
  font-size: 125%;
  color: #FFFFFF;
}

body {
  font-family: "Barlow";
}
body h1 {
  font-size: clamp(5rem, 12vw, 6.9rem);
  line-height: clamp(4.8rem, 12vw, 6.3rem);
}
body h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}
body h3 {
  font-size: 2.1rem;
  text-align: center;
}
body h4 {
  font-size: 1.6rem;
  line-height: 1.45rem;
}
body h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
body p {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 1.6rem;
}
body nav a {
  font-size: 1rem;
  text-align: center;
  line-height: 1.45rem;
}
body .buttonFind, body .buttonRead {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
}
body input, body textarea {
  font-family: "Lato";
  font-size: 0.9rem;
  color: #FFFFFF;
}
body button {
  font-family: "Barlow";
  font-size: 1.1rem;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #0C1423;
}
body .greenBack {
  background-color: #0F614E;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.flexGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexGridSpaceBw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

h2 {
  text-align: center;
}

h3 {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 30px;
}

a.buttonFind {
  display: inline-block;
  width: 220px;
  color: #0C1423;
  background-color: #86E0F9;
  margin-top: 35px;
  padding: 8px 30px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a.buttonFind:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
a.buttonFind:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
a.buttonRead {
  display: inline-block;
  color: #FFFFFF;
  background-color: #0C1423;
  margin-top: 30px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a.buttonRead:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
a.buttonRead:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

input, textarea {
  width: calc(49.5% - 30px);
  padding: 15px;
  margin: 15px;
  border: none;
  border-bottom: solid 2px #86E0F9;
  background-color: transparent;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  opacity: 1;
}

textarea {
  border: solid 2px #86E0F9;
  width: calc(100% - 30px);
}

button {
  width: calc(100% - 30px);
  padding: 12px 0;
  margin: 25px 15px 10%;
  border: none;
}

header .headerImage {
  width: 100%;
  height: 100%;
  background-image: url("../assets/contact-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header nav {
  position: relative;
}
header nav .navIcon {
  display: none;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  background-color: transparent;
}
header nav .navIcon:hover {
  color: #86E0F9;
}
header nav .navIcon:focus {
  color: #86E0F9;
}
header nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  padding-top: 35px;
}
header nav a {
  color: #FFFFFF;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 20px;
}
header nav a:hover {
  color: #86E0F9;
}
header nav a:focus {
  color: #86E0F9;
}
header h2 {
  padding: 11% 0 20% 0;
  margin-left: 16%;
}
header .slideOutNav {
  padding: 35px 50px;
  width: 100%;
  max-width: 449px;
  height: 100vh;
  background-color: #0C1423;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: -450px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
header .slideOutNav .buttonContainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
  margin: 20px;
  background-color: #0C1423;
  font-size: 2rem;
}
header .slideOutNav .buttonContainer button:hover {
  color: #86E0F9;
}
header .slideOutNav .buttonContainer button:focus {
  color: #86E0F9;
}
header .slideOutNav li {
  padding-bottom: 10px;
}
header .slideOutNav li a {
  font-family: "Barlow";
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}
header .slideOutNav li a:hover {
  color: #86E0F9;
}
header .slideOutNav li a:focus {
  color: #86E0F9;
}

.mainFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sideColumn {
  width: 30%;
  margin-top: 8%;
  margin-right: 6%;
  padding-right: 7%;
}

.contactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.iconSocial {
  margin-right: 25px;
  font-size: 1.2rem;
  color: #FFFFFF;
}

h5 {
  padding: 25px 0;
}

p {
  padding: 0 0 2px;
}

form {
  width: 64%;
  -webkit-transform: translate(4.1%, -37%);
          transform: translate(4.1%, -37%);
  -webkit-box-shadow: -50px 50px 0px -12px #86E0F9;
          box-shadow: -50px 50px 0px -12px #86E0F9;
  background-color: #0F614E;
  padding: 30px 30px 0;
}
form button {
  background-color: #0C1423;
}

footer {
  background-color: #86E0F9;
  color: #0C1423;
}
footer p {
  padding: 2.5px 0;
  font-size: 0.9rem;
  text-align: center;
}

/* all of our styles for DESKTOP devices will go within this breakpoint */
/* all of our styles for LAPTOP devices will go within this breakpoint */
@media (max-width: 1200px) {
  form {
    -webkit-transform: translate(-1%, -32%);
            transform: translate(-1%, -32%);
  }
}
/* all of our styles for TABLET devices in landscape mode will go within this breakpoint */
@media (max-width: 1100px) {
  form {
    -webkit-transform: translate(-5%, -28%);
            transform: translate(-5%, -28%);
  }
}
/* all of our styles for small TABLET devices in landscape mode will go within this breakpoint */
@media (max-width: 1000px) {
  header h2 {
    margin-left: 0;
  }
  .mainFlexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sideColumn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .contactList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -10%;
    margin-bottom: 10%;
  }
  .contactList .socials, .contactList .email, .contactList .address, .contactList .number {
    width: 40%;
  }
  .contactList .socials {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 6%;
  }
  .contactList .email {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-left: 6%;
  }
  .contactList .email h5 {
    padding-top: 0;
  }
  .contactList .address {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .contactList .address p {
    display: inline;
  }
  .contactList .number {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0%, -24%);
            transform: translate(0%, -24%);
    width: 85%;
  }
}
/* all of our styles for TABLET devices in portrait mode will go within this breakpoint */
@media (max-width: 768px) {
  header nav .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  form {
    -webkit-transform: translate(0%, -10%);
            transform: translate(0%, -10%);
    width: 90%;
  }
  .contactList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10%;
  }
}
/* all of our styles for large MOBILE devices will go within this breakpoint */
@media (max-width: 600px) {
  html {
    font-size: 110%;
  }
  h4 {
    margin-bottom: 15px;
  }
  h3 {
    margin-bottom: 15px;
  }
  form {
    -webkit-transform: none;
            transform: none;
    width: 95%;
  }
}
/* all of our styles for small MOBILE devices will go within this breakpoint */
@media (max-width: 500px) {
  html {
    font-size: 100%;
  }
  header nav .navIcon {
    display: block;
    margin: 3% 0;
    padding: 0;
  }
  header nav .navBar {
    display: none;
  }
  header h2 {
    padding: 15% 0% 15% 0;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  form input,
form textarea {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  form input[type=email] {
    margin-top: 0;
  }
  .contactList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    text-align: center;
  }
  .contactList .iconSocial {
    margin-right: 20px;
  }
  .contactList .socials {
    padding: 0 0 5px;
    width: auto;
  }
  .contactList .email {
    padding: 0 0 5px;
    width: 100%;
  }
  .contactList .email h5 {
    padding-bottom: 0;
  }
  .contactList .address {
    width: 100%;
  }
  .contactList .number {
    width: 100%;
    padding: 0 0 5px;
  }
}