html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
html {
  /* 20px font size */
  font-size: 125%;
  color: #FFFFFF;
}

body {
  font-family: "Barlow";
}
body h1 {
  font-size: clamp(5rem, 12vw, 6.9rem);
  line-height: clamp(4.8rem, 12vw, 6.3rem);
}
body h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}
body h3 {
  font-size: 2.1rem;
  text-align: center;
}
body h4 {
  font-size: 1.6rem;
  line-height: 1.45rem;
}
body h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
body p {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 1.6rem;
}
body nav a {
  font-size: 1rem;
  text-align: center;
  line-height: 1.45rem;
}
body .buttonFind, body .buttonRead {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
}
body input, body textarea {
  font-family: "Lato";
  font-size: 0.9rem;
  color: #FFFFFF;
}
body button {
  font-family: "Barlow";
  font-size: 1.1rem;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #0C1423;
}
body .greenBack {
  background-color: #0F614E;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.flexGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexGridSpaceBw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

h3 {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 30px;
}

a.buttonFind {
  display: inline-block;
  width: 220px;
  color: #0C1423;
  background-color: #86E0F9;
  margin-top: 35px;
  padding: 8px 30px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a.buttonFind:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
a.buttonFind:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
a.buttonRead {
  display: inline-block;
  color: #FFFFFF;
  background-color: #0C1423;
  margin-top: 30px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a.buttonRead:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
a.buttonRead:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

input, textarea {
  width: calc(49.5% - 30px);
  padding: 15px;
  margin: 15px;
  border: none;
  border-bottom: solid 2px #86E0F9;
  background-color: transparent;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  opacity: 1;
}

textarea {
  border: solid 2px #86E0F9;
  width: calc(100% - 30px);
}

button {
  width: calc(100% - 30px);
  padding: 12px 0;
  margin: 25px 15px 10%;
  border: none;
}

header {
  height: 100vh;
}
header nav {
  position: relative;
}
header nav .navIcon {
  display: none;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  background-color: transparent;
}
header nav .navIcon:hover {
  color: #86E0F9;
}
header nav .navIcon:focus {
  color: #86E0F9;
}
header nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  padding-top: 35px;
}
header nav a {
  color: #FFFFFF;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 20px;
}
header nav a:hover {
  color: #86E0F9;
}
header nav a:focus {
  color: #86E0F9;
}
header .hero {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
header .hero::before {
  content: "";
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
header h1 {
  width: 40%;
}
header .imgBox {
  position: absolute;
  right: 0;
  top: 22%;
  width: 55%;
}

.sectionOne {
  padding: 13% 10%;
}
.sectionOne .oneFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTwo .twoFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionTwo .twoImgBoxLeft, .sectionTwo .twoImgBoxRight {
  width: 50%;
}
.sectionTwo .twoImgBoxLeft {
  -webkit-transform: translate(-20%, -9%);
          transform: translate(-20%, -9%);
  -webkit-box-shadow: 35px 35px 0px #86E0F9;
          box-shadow: 35px 35px 0px #86E0F9;
}
.sectionTwo .twoImgBoxRight {
  -webkit-transform: translate(20%, 11%);
          transform: translate(20%, 11%);
  -webkit-box-shadow: -35px 35px 0px #86E0F9;
          box-shadow: -35px 35px 0px #86E0F9;
}
.sectionTwo .twoTextBoxLeft, .sectionTwo .twoTextBoxRight {
  margin-top: 2%;
  width: 40%;
}
.sectionTwo .twoTextBoxLeft {
  text-align: left;
}
.sectionTwo .twoTextBoxRight {
  text-align: right;
}

.sectionThree {
  padding: 6% 0% 7%;
}
.sectionThree .threeFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.sectionThree li {
  width: 50%;
  margin-top: 5%;
}
.sectionThree .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #86E0F9;
  color: #0C1423;
  font-size: 30px;
  padding: 0 1%;
  margin: 0 3%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.sectionThree .icon:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.sectionThree .icon:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.sectionThree .threeTextBox {
  margin-top: 1%;
  width: calc(92% - 45px);
}

.sectionFour img {
  width: 100%;
}

.sectionFive {
  padding: 8% 0;
}
.sectionFive .fiveFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.sectionFive .fiveImgBox {
  width: 23%;
  margin-right: 10%;
}
.sectionFive .fiveImgBox img {
  height: auto;
  -webkit-box-shadow: 35px 35px 0px #86E0F9;
          box-shadow: 35px 35px 0px #86E0F9;
}
.sectionFive .fiveTextBox {
  width: 67%;
}
.sectionFive .fiveTextBox h3 {
  text-align: left;
}

.sectionSix {
  padding: 8% 0;
}
.sectionSix .sixFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.sectionSix li {
  width: 31%;
}

footer {
  background-color: #86E0F9;
  color: #0C1423;
}
footer p {
  padding: 2.5px 0;
  font-size: 0.9rem;
  text-align: center;
}

/* all of our styles for DESKTOP devices will go within this breakpoint */
/* all of our styles for LAPTOP devices will go within this breakpoint */
@media (max-width: 1200px) {
  .sectionTwo .twoImgBoxLeft {
    -webkit-transform: translate(-20%, -11%);
            transform: translate(-20%, -11%);
  }
}
/* all of our styles for TABLET devices in landscape mode will go within this breakpoint */
@media (max-width: 1100px) {
  .sectionTwo .twoFlexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    width: 100%;
  }
  .sectionTwo .twoImgBoxLeft, .sectionTwo .twoImgBoxRight {
    width: 100%;
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 30vh;
  }
  .sectionTwo .twoImgBoxLeft img, .sectionTwo .twoImgBoxRight img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .sectionTwo .twoImgBoxLeft {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sectionTwo .twoImgBoxRight {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .sectionTwo .twoTextBoxLeft, .sectionTwo .twoTextBoxRight {
    width: 100%;
    padding: 5% 10%;
    text-align: center;
  }
  .sectionTwo .twoTextBoxLeft {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sectionTwo .twoTextBoxRight {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .sectionFive .fiveImgBox {
    width: 25%;
    margin-right: 8%;
  }
  .sectionFive .fiveImgBox img {
    -webkit-box-shadow: 25px 25px 0px #86E0F9;
            box-shadow: 25px 25px 0px #86E0F9;
  }
}
/* all of our styles for small TABLET devices in landscape mode will go within this breakpoint */
@media (max-width: 950px) {
  .sectionFive .fiveImgBox img {
    height: 55%;
    -webkit-box-shadow: 20px 20px 0px #86E0F9;
            box-shadow: 20px 20px 0px #86E0F9;
  }
}
/* all of our styles for TABLET devices in portrait mode will go within this breakpoint */
@media (max-width: 768px) {
  header {
    height: 50vh;
  }
  header .hero {
    height: 50vh;
  }
  header nav .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header .imgBox {
    display: none;
  }
  .sectionThree .threeFlexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionThree li {
    width: 100%;
    padding: 5% 0;
    border: solid 5px #86E0F9;
    border-radius: 10%;
  }
  .sectionThree .threeTextBox {
    margin-top: 4.5%;
    text-align: center;
  }
  .sectionFive {
    padding-bottom: 0;
  }
  .sectionFive .fiveFlexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .sectionFive .fiveTextBox {
    width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10%;
    text-align: center;
  }
  .sectionFive .fiveTextBox h3 {
    text-align: center;
  }
  .sectionFive .fiveImgBox {
    width: 100%;
    height: 25vh;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .sectionFive .fiveImgBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/* all of our styles for large MOBILE devices will go within this breakpoint */
@media (max-width: 600px) {
  html {
    font-size: 110%;
  }
  h4 {
    margin-bottom: 15px;
  }
  h3 {
    margin-bottom: 15px;
  }
}
/* all of our styles for small MOBILE devices will go within this breakpoint */
@media (max-width: 450px) {
  html {
    font-size: 100%;
  }
  header nav .navIcon {
    display: block;
  }
  header nav .navBar {
    display: none;
  }
  header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .sectionSix .sixFlexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionSix li {
    width: 100%;
  }
  .sectionSix li img {
    margin: 5% auto;
  }
}